node_modules
logs/
dist/
node_modules/
private/
bin/
bundle/
temp/
certs/

*.pem
*.swp
.DS_Store
private.json
.fake
.ruff_cache/
.venv/
.cache/
config.json
*.csv
.vscode/
.mypy_cache/
lib/
lib64/
lib64
.lock
CACHEDIR.TAG
ChangeLog
LICENSE.txt
pyvenv.cfg
